:root {
  --ai-primary-color: #f5d418;
  --ai-secondary-color: #13b5bb;
  --ai-tertiary-color: #42affa;
  --ai-quaternary-color: #df9b3d;
  --ai-quinary-color: #191919;
  --r-link-color: #f5d418;
  --r-link-color-dark: #bba113;
  --r-link-color-hover: #ffdd19;
}

.color-primary {
  color: var(--ai-primary-color) !important;
}

.color-secondary {
  color: var(--ai-secondary-color) !important;
}

.color-tertiary {
  color: var(--ai-tertiary-color) !important;
}

.color-quaternary {
  color: var(--ai-quaternary-color) !important;
}

.color-quinary {
  color: var(--ai-quinary-color) !important;
}

.color-link {
  color: var(--r-link-color) !important;
}

.color-link-dark {
  color: var(--r-link-color-dark) !important;
}

.color-link-hover {
  color: var(--r-link-color-hover) !important;
}

@font-face {
  font-family: "redaction";
  src: url("Redaction-Regular.woff2") format("woff2"),
    url("Redaction-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "redaction-bold";
  src: url("Redaction-Bold.woff2") format("woff2"),
    url("Redaction-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "redaction-italic";
  src: url("Redaction-Italic.woff2") format("woff2"),
    url("Redaction-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "redaction-bold" !important;
  text-transform: none;
}

.reveal::first-letter,
.reveal h1::first-letter,
.reveal h2::first-letter,
.reveal h3::first-letter,
.reveal h4::first-letter,
.reveal h5::first-letter,
.reveal h6::first-letter {
  text-transform: uppercase;
}

.reveal.capitalize,
.reveal h1.capitalize,
.reveal h2.capitalize,
.reveal h3.capitalize,
.reveal h4.capitalize,
.reveal h5.capitalize,
.reveal h6.capitalize {
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase !important;
}

.lower {
  text-transform: lowercase !important;
}

.lower::first-letter {
  text-transform: lowercase !important;
}

.my-text-shadow {
  text-shadow: 0 0 10px #000 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "redaction";
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}
