body {
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: hidden;
}

.App {
  overflow-y: scroll;
  scrollbar-color: #171a1f white;
  scrollbar-width: thin;
  scroll-snap-type: y proximity;
}
